 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        PostDeploy Interactive is a small tech company focused
                        on enabling you to successfully utilize the solutions
                        we deploy for you. With a broad skillset, we possess
                        many years of experience in various sectors, and offer
                        a creativity and passion for every project we touch.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                        Whether you need to strengthen your web presence,
                        streamline business processes, or discover insights in
                        your data, let us give you a hand.
                    </p>
                </div>
            </div>
        </div>
    </section>